@mixin fontFamily($font-name, $font-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-name;
    src: url($font-path + '.eot');
    src: url($font-path + '.woff2') format('woff2'),
    url($font-path + '.woff') format('woff'),
    url($font-path + '.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

$fallback-fonts: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

// Aeonik
@include fontFamily("Aeonik", "../fonts/Aeonik-Bold/Aeonik-Bold", bold);
@include fontFamily("Aeonik", "../fonts/Aeonik-Medium/Aeonik-Medium", 500);
