@import "normalize.css";
@import "colors";
@import "fonts";

html, body, #app { height: 100% }

body {
  font-family: "Aeonik", $fallback-fonts;
  background: $background;
  font-weight: bold;
  color: $text;
}
