@import "normalize.css";
@import "colors";
@import "fonts";

::selection { background: $accent; color: $background }

::-webkit-scrollbar { width: 5px }
::-webkit-scrollbar-track { background: $background }
::-webkit-scrollbar-thumb {
  background: $accent;
  border-radius: 5px;

  &:hover {background: darken($accent, 10);}
}
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-corner {
  width: 0; height: 0;
}

html, body, #app { height: 100% }

body {
  font-family: "Aeonik", $fallback-fonts;
  background: $background;
  font-weight: bold;
  color: $text;
  overflow: scroll;
}
